<!DOCTYPE html>
<html>
  <head>
      <meta charset="utf-8">
      <meta name="robots" content="noindex, follow">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <meta name="apple-mobile-web-app-capable" content="yes">

      <title>Account Manager App</title>

      <link rel="apple-touch-icon-precomposed" href="images/touch-icon-iphone.png" />
      <link rel="apple-touch-icon-precomposed" sizes="72x72" href="images/touch-icon-iphone.png" />
      <link rel="apple-touch-icon-precomposed" sizes="114x114" href="images/touch-icon-iphone.png" />

      <link rel="stylesheet" href="css/themes/font-awesome/css/font-awesome.min.css">
      <link rel="stylesheet"  href="css/themes/default/jquery.mobile-1.3.1.css">
      <link rel="stylesheet"  href="css/themes/lightblue/apruvr_lblue.css">
      <link href='http://fonts.googleapis.com/css?family=Ubuntu|Open+Sans:400,700' rel='stylesheet' type='text/css'>
      <link rel="stylesheet" href="css/styles.css">

      <script src="js/lib/jquery.js"></script>
      <script src="js/lib/jquery.mobile.router.min.js"></script>
      <script src="js/lib/jquery.mobile-1.3.1.min.js"></script>
      <script src="js/lib/cookie.js"></script>

      <script src="js/lib/underscore-min.js"></script>
      <script src="js/lib/backbone-min.js"></script>
      <script src="js/helpers/util.js"></script>
      <script src="js/helpers/rskybox.js"></script>
      <script src="js/helpers/store.js"></script>
      <script src="js/helpers/session.js"></script>
      <script src="js/controllers/main.js"></script>
      <script src="js/models/base.js"></script>
      <script src="js/models/login.js"></script>
      <script src="js/views/base.js"></script>
      <script src="js/views/login.js"></script>

      <script src="js/lib/merchantobject.js"></script>
      <script src="js/lib/Charts.js"></script>

     <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?libraries=visualization&key=AIzaSyCHAeqstOVgajgeTAuK_P61GVSyPQYGkvc&sensor=false"></script>

      <script>
          $( document ).on( "pageshow", function(){
              $( "p.message" ).hide().delay( 1500 ).show( "fast" );
          });
      </script>
  </head>
  <body>
    <div data-role="page" id="login">
      <div data-role="header">
        <h1>Account Manager</h1>
      </div>
      <div data-role="content">
        <form id="loginForm"></form>
      </div>
    </div>
    <script type="text/template" id="loginTemplate">
      <ul data-role="listview">
        <li data-role="fieldcontain">
          <label for="login" class="ui-hidden-accessible">Username:</label>
          <input type="text" name="login" placeholder="Arc Username" value="<%= Login %>" autocorrect="off" autocapitalize="off" data-mini="true">
        </li>
        <li data-role="fieldcontain">
          <label for="password" class="ui-hidden-accessible">Password:</label>
          <input id="password" name="password" type="password" placeholder="Password" value="<%= Password %>" autocorrect="off" autocapitalize="off" data-mini="true">
        </li>
        <li data-role="fieldcontain">
          <input type="submit" value="Login" data-mini="true">
        </li>
      </ul>
    </script>
    
    <div data-role="page" id="editMerchant">
    	<div data-role="header" data-position="fixed" data-tap-toggle="false" id="editMerchantHeader">
    		<div data-type="horizontal" data-role="controlgroup" class="ui-btn-left">
    			<a href="#selectMerchant" data-rel="back" data-icon="arrow-l" data-role="button" data-iconpos="notext"></a>
    		</div>
    		<h1 id="editMerchantHead">Editing </h1>
    		<div data-type="horizontal" data-role="controlgroup" class="ui-btn-right">
    			<a href="#editMerchantNotePopup" data-icon="plus" data-rel="popup" data-role="button">Note</a>
    			<button data-icon="check" id="editMerchantSave" data-iconpos="notext"></button>
  			</div>
    	</div>
    	
    	<div data-role="content" id="editMerchantContent">

    	</div>
    	
    	<div data-role="popup" id="editMerchantNotePopup">
    		<label for="editMerchantNoteTextArea">Enter Your Note Here:</label>
			<textarea cols="40" rows="10" id="editMerchantNoteTextArea"></textarea>
			<div class="ui-grid-b">
				<div class="ui-block-a">
					<button id="editMerchantNoteSave" data-icon="check">Save</button>
				</div>
				<div class="ui-block-b">
					<button id="editMerchantNoteCancel" data-icon="delete">Cancel</button>
				</div>
			</div>
    	</div>
    	
    	 <div data-role="popup" id="editMerchantRequiredPopup" data-position-to="#editMerchantHeader">
    	</div>
    </div>
    
<script type="text/template" id="editMerchantForm">
		
	<div class="ui-grid-a" id="<%=pageIdPrefix%>List">
		
	<div class="ui-block-a">
		<ul data-role="listview" id="<%=pageIdPrefix%>ListLeft" data-inset="true">
			<li><label for="<%=pageIdPrefix%>Name"> Name* </label>
			<input type="text" name="Name" id="<%=pageIdPrefix%>Name" value="<%= Name %>" required="true"></li>
			<li><label for="<%=pageIdPrefix%>POS"> POS Type </label>
				<select id="<%=pageIdPrefix%>POS" name="POS">
					<option <%if(POS == 'POS_MICROS'){ %>selected<% } %> selVal="POS_MICROS" >Micros</option>
					<option <%if(POS == 'POS_ISIS'){ %>selected<% } %> selVal="POS_ISIS">Isis</option>
					<option <%if(POS == 'POS_ALOHA'){ %>selected<% } %> selVal="POS_ALOHA">Aloha</option>
					<option <%if(POS == 'POS_OTHER'){ %>selected<% } %> selVal="POS_OTHER">Other</option>
				</select></li>

			<li id="<%=pageIdPrefix%>OtherPOSLI" <% if(POS !== "POS_OTHER") {%>style="display:none" <% } %> >
			<label for="<%=pageIdPrefix%>OtherPOS"> Other POS </label>
			<input type="text" name="OtherPOS" id="<%=pageIdPrefix%>OtherPOS" value="<%=OtherPOS %>"</li>

			<li><label for="<%=pageIdPrefix%>NumTerminals"> Number of Point of Sale Terminals </label>
			<input type="number" name="NumTerminals" id="<%=pageIdPrefix%>NumTerminals" value="<%= NumTerminals %>" ></li>

			<li><label for="<%=pageIdPrefix%>Street"> Street* </label>
			<input type="text" name="Street" id="<%=pageIdPrefix%>Street" value="<%= Street %>" required="true"></li>

			<li><label for="<%=pageIdPrefix%>City"> City* </label>
			<input type="text" name="City" id="<%=pageIdPrefix%>City" 
			<% if(City === ""){ %> value="Chicago" <% } else { %> value="<%=City%>" <%} %>
		     required="true"></li>

			<li><label for="<%=pageIdPrefix%>State"> State* </label>
			<input type="text" name="State" id="<%=pageIdPrefix%>State"
			  <% if(State === ""){ %> value="IL" <% } else { %> value="<%=State%>" <%} %> 
			  required="true"></li>

			<li><label for="<%=pageIdPrefix%>ZipCode"> Zipcode* </label>
			<input type="text" name="ZipCode" id="<%=pageIdPrefix%>ZipCode" 
			<% if(ZipCode === ""){ %> value="60654" <% } else{ %> value="<%=ZipCode%>" <% } %>
		     required="true"></li>

			<li><label for="<%=pageIdPrefix%>NumSeats"> Number of Seats </label>
			<input type="number" name="NumSeats" id="<%=pageIdPrefix%>NumSeats" value="<%= NumSeats %>" ></li>

			<li><label for="<%=pageIdPrefix%>AvgNumServers"> Average Number of Waiters </label>
			<input type="number" name="AvgNumServers" id="<%=pageIdPrefix%>AvgNumServers" value="<%= AvgNumServers %>" ></li>

		</ul>
	</div>


	<div class="ui-block-b" style="text-align: left">

		<ul data-role="listview" id="<%=pageIdPrefix%>ListRight" data-inset="true">

			<li><label for="<%=pageIdPrefix%>TwitterHandler"> Twitter Handle </label>
			<input type="email" name="TwitterHandler" id="<%=pageIdPrefix%>TwitterHandler" value="<%= TwitterHandler %>" ></li>

			<li style="padding:13px"><label for="<%=pageIdPrefix%>FacebookHandler"> Facebook Handle </label>
			<input type="email" name="FacebookHandler" id="<%=pageIdPrefix%>FacebookHandler" value="<%= FacebookHandler %>" ></li>

			<li><label for="<%=pageIdPrefix%>Cuisine"> Cuisine </label>
			<input type="text" name="Cuisine" id="<%=pageIdPrefix%>Cuisine" value="<%= Cuisine %>"></li>

			<li><label for="<%=pageIdPrefix%>eMail"> eMail </label>
			  <input type="email" name="eMail" id="<%=pageIdPrefix%>eMail" value="<%= eMail %>" ></li>
			
			<li><label for="<%=pageIdPrefix%>Website"> Website </label>
			  <input type="url" name="Website" id="<%=pageIdPrefix%>Website" value="<%= Website %>" ></li>

			<li><label for="<%=pageIdPrefix%>PriceLevel"> Average Price of a Menu Item </label>
			<input type="text" name="PriceLevel" id="<%=pageIdPrefix%>PriceLevel" value="<%= PriceLevel %>" ></li>

			<li><label for="<%=pageIdPrefix%>CurrentCreditFee"> Current Credit Fee </label>
			<input type="text" name="CurrentCreditFee" id="<%=pageIdPrefix%>CurrentCreditFee" value="<%= CurrentCreditFee %>" ></li>

			<li><label for="<%=pageIdPrefix%>CurrentCreditRate"> Current Credit Rate </label>
			<input type="text" name="CurrentCreditRate" id="<%=pageIdPrefix%>CurrentCreditRate" value="<%= CurrentCreditRate %>" ></li>

			<li><label for="<%=pageIdPrefix%>Longitude">Longitude</label>
				<input type="text" name="Longitude" id="<%=pageIdPrefix%>Longitude" value="<%= Longitude %>"></li>

			<li><label for="<%= pageIdPrefix%>Latitude">Latitude
					<button id="<%=pageIdPrefix%>GetLoc" data-iconpos="notext" data-icon="grid" data-inline="true"></button>
				</label>
			<input type="text" name="Latitude" id="<%= pageIdPrefix%>Latitude" value="<%=Latitude%>">
			
			</li>
		</ul>

	</div><!-- ui-block-b -->
	</div><!-- ui-grid-a -->

	<ul data-role="listview" data-inset="true">
		<li data-role="list-divider">Decision Maker</li>

		<% template = _.template($('#decisionMakerForm').html()); %>
		<%=template({FirstName : DMFirstName,
					 LastName : DMLastName,
					 Phone : DMPhone,
					 Position : DMPosition,
					 eMail : DMeMail,
					 'pageIdPrefix' : pageIdPrefix }) %>

	</div>
	</ul>

      </script>

	<script type="text/template" id="decisionMakerForm">
	<li>
		<div formType="Poc" id="pocForm">
		<div class="ui-grid-a">

		<div class="ui-block-a">
			
			<ul data-role="listview" data-inset="true">
			<li><label for="<%=pageIdPrefix%>PocFirstName" >First Name</label>
				<input type="text" name="DMFirstName" id="<%=pageIdPrefix%>PocFirstName" value="<%=FirstName%>" ></li>

			<li><label for="<%=pageIdPrefix%>PocPhone" >Phone Number</label>
				<input type="text" name="DMPhone" id="<%=pageIdPrefix%>PocPhone" value="<%=Phone%>" ></li>

			<li><label for="<%=pageIdPrefix%>PoceMail" >eMail Address</label>
				<input type="email" name="DMeMail" id="<%=pageIdPrefix%>PoceMail" value="<%=eMail%>" ></li>

			</ul>
		</div>

		<div class="ui-block-b" style="text-align: left">

		<ul data-role="listview" data-inset="true">
			<li><label for="<%=pageIdPrefix%>PocLastName" >Last Name</label>
			<input type="text" name="DMLastName" id="<%=pageIdPrefix%>PocLastName" value="<%=LastName%>" ></li>

			<li><label for="<%=pageIdPrefix%>PocPosition" >Position</label>
			<input type="text" name="DMPosition" id="<%=pageIdPrefix%>PocPosition" value="<%=Position%>" ></li>

		</ul>
		</div>
		</div>
		</div>
	</li>
		
	</script>

  <div data-role="page" id="selectMerchant">
    
      <div data-role="header" data-position="fixed" data-tap-toggle="false">
       <a href="#selectMerchant_leftPanel" data-role="none" class="header-custom-bars">&nbsp;</a>
       <h1>Select Merchant</h1>
       <button id="selectMerchantSearch" data-icon="search" data-role="button" data-iconpos="notext" data-theme="f"></button>
       
      </div>

      <div data-role="content" id="selectMerchantContent">
      	<ul data-role="listview" data-inset="true">
      		<li data-icon="plus" data-theme="b">
      			<a href="#createNewMerchant" data-transition="slide"><h1>Merchants</h1></a>
      		</li>
      	</ul>
      	
      	<ul data-role="listview" data-filter="true" id="selectMerchantList" data-inset="true">
      		
      	</ul>
	
      </div>
      
      <div data-role="popup" id="selectMerchantConfirmDelete" class="ui-content" data-position-to="window">
			<h1>Are you sure you want to delete this merchant? 
				Once it has been deleted it cannot be recovered.</h1>
			<div class="ui-grid-a">
				<div class="ui-block-a">
					<button id="selectMerchantDeleteYes" data-icon="check">Yes</button>
				</div>
				<div class="ui-block-b">
					<button id="selectMerchantDeleteNo" data-icon="back">No</button>
				</div>
			</div>
		</div>
      
      <div data-role="popup" id="popupDialog" data-overlay-theme="a" data-theme="c" data-dismissible="false" style="max-width:400px;" class="ui-corner-all">
        <div data-role="header" data-theme="a" class="ui-corner-top">
          <h1>Confirm</h1>
        </div>
        <div data-role="content" data-theme="d" class="ui-corner-bottom ui-content">
          <a href="#" data-role="button" data-inline="true" data-rel="back" data-theme="c">Cancel</a>
          <a href="#" class="confirmbtn" data-role="button" data-inline="true" data-rel="back" data-transition="flow" data-theme="b">Approve</a>
        </div>
      </div>
    </div><!-- /page -->

<script type="script/template" id="selectMerchantTemplate">
		<li id="selectMerchantListElm<%=index%>">
			<a index="<%=index%>" id="selectMerchantList<%=index%>" class="selectMerchantLI">
				<h1><%=Name%></h1>
				<h2>Status: <%=Status%></h2>
				<h3><%=Street%> <%=City%>, <%=State%> <%=ZipCode%></h3>
			</a>
		</li>

		<li id="selectMerchantListSwipeMenuElm<%=index%>" style="display:none; padding:30px" class="selectMerchantMenu" index="<%=index%>">
				<button data-icon="info" data-iconpos="notext" data-inline="true" class="selectButton" index="<%=index%>"></button>
				<button data-icon="gear" data-iconpos="notext" data-inline="true" class="editButton" index="<%=index%>"></button>
				<button data-icon="delete" data-iconpos="notext" data-inline="true" class="deleteButton" index="<%=index%>"></button>
				<button data-icon="back" data-iconpos="notext" data-inline="true" class="backButton" index="<%=index%>"></button>
		</li>
	</script>
	
<script type="script/template" id="selectMerchantListMoreTemplate">
	<li data-icon="plus"><a id="selectMerchantListMore">More</a></li>
</script>
	
	<script type="script/template" id="selectMerchantSidebarTemplate">
		<div data-role="panel" id="selectMerchant_leftPanel" data-theme="c" data-position-fixed="true">
         <ul data-role="listview" data-theme="b" data-divider-theme="b" style="margin-top:-16px;" class="nav-search">
            <li data-icon="delete" style="background-color:#111;">
              <a href="#" data-rel="close"><%=UserName %></a>
            </li>
          </ul>
          <ul data-role="listview" data-theme="a" data-divider-theme="a" style="margin-top:15px;">
			<li data-icon="gear">
				<a href="#testPage">Settings</a>
			</li>
            <li data-icon="alert">
              <a href="#" class="logOut">Log Out</a>
            </li>
			<li><a href="#maps">Maps</a></li>
			<li data-icon="info" style="display:none" class="meetingDetailsButton" id="selectMerchant_MeetingDetailsButton">
				<a href="#selectMerchant_MeetingDetails" data-rel="popup">Meeting in Progress</a>
			</li>
			<li><a href="#cohortReport">Cohort Report</a></li>
          </ul>
		Version: <%= versionNum %>
      </div><!-- /panel -->
	</script>

	<div data-role="page" id="createNewMerchant">
	
		<div data-role="header" data-position="fixed" data-tap-toggle="false" id="createNewMerchantHeader">
			<div data-type="horizontal" data-role="controlgroup" class="ui-btn-left">
    			<a href="#selectMerchant" data-rel="back" data-icon="arrow-l" data-role="button" data-iconpos="notext"></a>
    		</div>
    		<h1 id="createNewMerchantHead">Create Merchant</h1>
    		<div data-type="horizontal" data-role="controlgroup" class="ui-btn-right">
    			<a href="#createNewMerchantNotePopup" data-rel="popup" data-icon="plus" data-role="button">Note</a>
    			<button data-icon="check" id="createNewMerchantSave" data-iconpos="notext"></button>
  			</div>
		</div>

		<div data-role="content" id="createNewMerchantContent">
			
    	</div>
    	
    	<div data-role="popup" id="createNewMerchantNotePopup" >
    		<label for="createNewMerchantNoteTextArea">Enter Your Note Here:</label>
			<textarea cols="40" rows="10" id="createNewMerchantNoteTextArea"></textarea>
			
			<div class="ui-grid-b">
				<div class="ui-block-a">
					<button id="createNewMerchantNoteSave" data-icon="check">Save</button>
				</div>
				<div class="ui-block-b">
					<button id="createNewMerchantNoteCancel" data-icon="delete">Cancel</button>
				</div>
			</div>
    	</div>
    	
    	<div data-role="popup" id="createNewMerchantRequiredPopup" data-position-to="#createNewMerchantHeader">
    	</div>

	</div>
	
	<div data-role="page" id="merchantDisplay">
	
		<div data-role="header" data-position="fixed" data-tap-toggle="false">
			<a href="#merchantDisplay_leftPanel" data-role="none" class="header-custom-bars">&nbsp;</a>
			<h1 id="merchantDisplayHead"></h1>
		</div>
		
		<div data-role="content" id="merchantDisplayContent">
		
		</div>
		
		<div data-role="popup" id="merchantDisplayConfirmDelete" class="ui-content" data-position-to="window">
			<h1>Are you sure you want to delete this merchant? 
				Once it has been deleted it cannot be recovered.</h1>
			<div class="ui-grid-a">
				<div class="ui-block-a">
					<button id="merchantDisplayDeleteYes" data-icon="check">Yes</button>
				</div>
				<div class="ui-block-b">
					<button id="merchantDisplayDeleteNo" data-icon="back">No</button>
				</div>
			</div>
		</div>
		
		<div data-role="popup" id="meetingStart" data-position-to="window" class="ui-content" data-dismissible="false">
			<a data-role="button"  data-rel="back" href="#" data-icon="delete" data-iconpos="notext" id="meetingStartCancel" class="ui-btn-right"></a>
			
			<h3>Concerning</h3>
			<input id="meetingStartAbout">

			<h3>Members:</h3>
			<div id="meetingStartMembers"></div>
			<div data-role="fieldcontain">
				<input type="text" id="meetingStartAddMemberField" data-inline="true">
				<button data-inline="true" data-icon="plus" data-iconpos="notext" id="meetingStartAddMember"></button>
			</div><!-- formcontain -->

			<button data-icon="check" id="meetingStartButton">Start Meeting</button>
		</div><!-- meetingStart -->
	
	</div><!-- merchantDisplay -->
	
	<script type="script/template" id="merchantDisplayContentTemplate">

	<ul data-role="listview" data-inset="true">
		<li data-icon="arrow-u" id="merchantDisplayBasicInfo">
			<a id="displayMerchantInfoCollapse" status="up">
			<img src="images/touch-icon-iphone.png"></img>
			<h3><%= Name%></h3>
			<p><%= Street %> <%= City %>, <%= State %> <%= ZipCode%></p>
			<p>Status: <%= Status %></p>
			</a>
		</li>

		<li data-role="list-divider" class="collapsedListItem">General</li>
		<li class="collapsedListItem">
			<h3>Type of Food: <%= Cuisine%></h3>
			<% if(POS !== "POS_OTHER") { %>
			<h3>Point of Sale Device: <%= MERCHANT.POSNames[POS] %></h3>
			<% } else { %>
			<h3>Point of Sale Device: <%= OtherPOS%></h3>
			<% } %>
			<h3>Number of Terminals: <%= NumTerminals%></h3>
		</li>

		<li data-role="list-divider" class="collapsedListItem">Financial</li>
		<li class="collapsedListItem">
			<h3>Price Level : <%= PriceLevel %></h3>
			<h3>Number of Seats: <%= NumSeats%></h3>
			<h3>Number of Servers: <%= AvgNumServers%></h3>
			<h3>Credit Rate: <%= CurrentCreditRate %></h3>
			<h3>Credit Fee: <%= CurrentCreditFee %></h3>
		</li>

		<li data-role="list-divider" class="collapsedListItem">Media</li>

		<li class="collapsedListItem">
			<h3>Email Address: <%= eMail %></h3>
			<h3>Twitter Handle: <%= TwitterHandler%></h3>
			<h3>Facebook Page: <%= FacebookHandler%></h3>
			<h3>Website: <%= Website %></h3>
		</li>

		<li data-role="list-divider" class="collapsedListItem">Decision Maker</li>

		<li class="collapsedListItem">
			<h1><%=DMFirstName%> <%=DMLastName%></h1>
			<h3>Phone: <%=DMPhone%></h3>
			<h3>Postion: <%=DMPosition%></h3>
			<h3>Email Address: <%=DMeMail%></h3>
		</li>
		</ul>

		<ul data-role="listview" data-inset="true" id="merchantDisplayStatusSpecific">
			<li><h1>Status Specific Content</h1></li>
		</ul>
		
		<!-- Not implemented for now
		<ul data-role="listview" data-inset="true" id="merchantDisplayActivityFeed">
		<li><% for(var i = Activities.length-1; i >= 0 ; i--){ %>
			<% var act = Activities[i]; %>
			<li><%= (MERCHANT.activityFeed[act.Type])(act) %></li>
			<% } %> -->

	<ul data-role="listview" data-inset="true">
		<li data-theme="d" data-icon="plus"><a id="merchantDisplayAddNote">Notes</a></li>
		<li id="merchantDisplayAddNoteBox" style="display:none">
			<div data-role="fieldcontain">
				<input type="text" id="merchantDisplayNoteText" placeholder="Enter a note here">
				</input>
				<button id="merchantDisplayAddNoteSave" data-icon="check" data-iconpos="notext" data-inline="true"></button>
				<button id="merchantDisplayAddNoteCancel" data-icon="delete" data-iconpos="notext" data-inline="true"></button>
			</div>
		</li>
	</ul>
	</script>
	
	<script type="text/template" id="merchantDisplayNotesTemplate">
	<ul id="merchantDisplayNotesDisplay" data-role="listview" data-inset="true">
		<% for(var i = Notes.length-1; i >= 0; i--){  %>
			<% if(Notes.length-1 - i >= 10) { %>
				<% Notes.position = i; %>
				<li><a id="merchantDisplayMoreNotes" data-icon="back">More</a></li>
				<% break; %>
			<% } %>
			<% var t = _.template($('#NoteDisplayTemplate').html()); %>
			<%= t({n:Notes[i], index:i}) %>
		<% } %>
	</ul>

	</script>
	
	<script type="text/template" id="NoteDisplayTemplate">
		<li class="noteSwipe" id="noteShow<%=index%>" index="<%=index%>">
			<% t= _.template($('#NoteShowInnerTemplate').html()); %>
			<%= t({'n' : n}) %>
		</li>
		<li id="noteMenu<%=index%>" style="display:none" class="noteMenu" index="<%=index%>" >
			<button data-icon="delete" data-iconpos="notext" class="noteDelete" index="<%=index%>" data-inline="true"></button>
			<button data-icon="gear" data-iconpos="notext" class="noteEdit" index="<%=index%>" data-inline="true"></button>
			<button data-icon="back" data-iconpos="notext" class="noteBack" index="<%=index%>" data-inline="true"></button>
		</li>
		<li id="noteEditField<%=index%>" style="display:none" index="<%=index%>">
			<div data-role="fieldcontain">
				<input type="text" id="noteEditForm<%=index%>" value="<%=n.Note%>" index="<%=index%>"></input>
				<button data-icon="check" data-iconpos="notext" class="editNoteSave" index="<%=index%>" data-inline="true"></button>
				<button data-icon="back" data-iconpos="notext" class="editNoteBack" index="<%=index %>" data-inline="true"></button>
			</div>
		</li>
	</script>
	
	<script type="text/template" id="NoteShowInnerTemplate">
		<h3> <%=n.LastUpdatedBy%> at <%=n.LastUpdated.toLocaleTimeString()%> 
				<%=n.LastUpdated.toLocaleDateString()%> wrote a <%=MERCHANT.NoteTypes[n.Type] %>: </h3>
				<% if(n.Type === "NOTE_CONFIG") { %>
					<p>Step <%=n.ConfigurationStepId%></p>
				<% } %>
		<p><%=n.Note%></p>
	</script>
	
	<script type="script/template" id="merchantDisplaySidebarTemplate">
		<div data-role="panel" id="merchantDisplay_leftPanel" data-theme="c" data-position-fixed="true">
         <ul data-role="listview" data-theme="b" data-divider-theme="b" style="margin-top:-16px;" class="nav-search">
            <li data-icon="delete" style="background-color:#111;">
              <a href="#" data-rel="close"><%=UserName %></a>
            </li>
          </ul>
          <ul data-role="listview" data-theme="a" data-divider-theme="a" style="margin-top:15px;">
			<li data-icon="arrow-l">
				<a href="#selectMerchant" data-transition="slide" data-direction="reverse" >Back</a>
			</li>
			<li data-icon="gear">
				<a id="merchantDisplaySidebarEdit">Edit</a>
			</li>
			<li data-icon="gear">
				<a data-transition="slide" id="merchantDisplaySidebarConfigure">Configure</a>
			</li>
			<li data-icon="gear">
				<a href="#configureTest" data-transtion="slide">ConfigureTest</a>
			</li>
			<li data-icon="info">
				<a href="#cohortReport">Reports</a>
			</li>
			<li data-icon="delete">
				<a href="#merchantDisplayConfirmDelete" data-rel="popup">Delete</a>
			</li>
			<li data-icon="grid">
				<a id="merchantDisplayMaps">Maps</a>
			</li>
			<li data-icon="plus" id="meetingStartButton" class="meetingStartButton">
				<a href="#meetingStart" data-rel="popup">New Meeting</a>
			</li>
			<li data-icon="info" style="display:none" class="meetingDetailsButton" id="merchantDisplay_MeetingDetailsButton">
				<a href="#merchantDisplay_MeetingDetails" data-rel="popup">Meeting in Progress</a>
			</li>
            <li data-icon="alert">
              <a href="#" class="logOut">Log Out</a>
            </li>
          </ul>
		  Version: <%= versionNum %>
		</div><!-- /panel -->
	</script>

    <div data-role="page" id="configure">
      <div data-role="header" data-position="fixed" data-tap-toggle="false">
        <h1>Account Manager</h1>
        <a href="#configure_leftPanel" data-role="none" class="header-custom-bars">&nbsp;</a>
	<a href="#configureList" data-role="button" data-icon="check">List</a>
      </div>

      <div data-role="content">
        <div class="ui-grid-a">
	  <div class="ui-block-a">
	    <ul data-role="listview" data-filter="true" data-inset="true" id="ConfigureMerchantSelect"></ul>
	  </div>
	  <div class="ui-block-b">
	    <a data-role="button" id="StartConfigure" merchantId="" data-position="fixed">Configure</a>
	  </div>
	</div>
      </div>
    </div><!-- /page -->
    
    <div data-role="page" id="maps">
		<div data-role="header" data-position="fixed" data-tap-toggle="false" id="mapsHeader">
			<div data-type="horizontal" data-role="controlgroup" class="ui-btn-left">
				<a data-role="button" data-icon="arrow-l" data-iconpos="notext" data-rel="back">Back</a>
			</div>
			<h1>Sales Map</h1>
			<div data-type="horizontal" data-role="controlgroup" class="ui-btn-right">
				<a data-role="button" data-icon="search" data-iconpos="notext" data-rel="popup" href="#mapsPanel">Search</a>
			</div>
		</div>
		
		<div data-role="content" id="mapsContent">
			<div id="mapCanvas"></div>
			<div id="mapsPopupLocation"></div>
		</div>
		
		<div data-role="panel" data-position="right" data-display="push" id="mapsPanel" data-dismissible="false" data-position-fixed="true">
	
		<ul data-role="listview" id="mapsPanelList">
			<li id="mapsSearch"><fieldset data-role="controlgroup" data-type="horizontal" data-role="fieldcontain">
				<label for="mapsMerchantSearchTab">Merchants</label>
				<input id="mapsMerchantSearchTab" type="radio" checked="checked" value="mapsMerchantSearch" name="searchTab" class="mapsSearchTab" />
			
				<label for="mapsLocationSearchTab">Locations</label>
				<input id="mapsLocationSearchTab"  type="radio" value="mapsLocationSearch"  name="searchTab" class="mapsSearchTab" />
			</fieldset>
		
			<div id="mapsMerchantSearch" class="searchTabContent"></div>
		
			<div id="mapsLocationSearch" class="searchTabContent" style="display:none" >
				<div data-role="fieldcontain">
					<input name="search" id="mapsLocationSearchField" 
				   	   placeholder="Enter an address" data-inline="true" />
					<button data-icon="search" data-iconpos="notext" 
				        id="mapsLocationSearchGo" data-inline="true">Search</button>
				</div>

			</div></li>
		
			<li data-role="list-divider"></li>
			<li id="mapsMerchantSelect" style="display:none" data-icon="arrow-r"></li>
			</ul>
		</div>
	
	</div>
	
	<script type="text/template" id="mapsMerchantPopupTemplate">
		<a class="mapsMerchantDisplay" merchantName="<%= Name %>" >
			<h1><%= Name %></h1>
			<h1><%= Street %> <%= City %> <%= State %>, <%= ZipCode %></h1>
			<h1>Status: <%= Status %></h1>
			<h1>POS: <% if(POS === 'POS_OTHER') { %> <%= OtherPOS %> 
				<% } else { %> <%= MERCHANT.POSNames[POS] %> <% } %></h1>
		</a>
	</script>
	
	<script type="text/template" id="mapsMerchantSearchTemplate">
		<ul data-role="listview" data-filter="true" 
		    data-filter-reveal="true" id="mapsMerchantSearchList"
			data-filter-placeholder="Find a merchant"
			data-inset="true">
		<% for(var i = 0; i < merchantList.length; i++) { %>
			<li index="<%= i %>" >
				<a index="<%= i %>" class="mapsMerchantSearchLI" >
				<%= merchantList[i].Name %>
				</a>
			</li>
		<% } %>
		</ul>
	</script>
	
	<div id="cohortReport" data-role="page">
		<div id="cohortReportHeader" data-role="header">
			<h1>Cohort Report</h1>
		</div>
		
		<div id="cohortReportContent" data-role="content">
		
			<div id="cohortReportOverview">
			</div>
			
			<div id="cohortReportItemview" style="display:none">
			</div>
		
			<div id="cohortReportCanvas" style="display:none">
				
				<h1 id="cohortReportChartTitle">
				<button data-inline="true" data-icon="back" data-iconpos="notext" id="cohortReportChartBack"></button>
				Test Title
				<button data-inline="true" data-icon="grid" data-iconpos="notext" id="cohortReportItemviewButton"></button>
				</h1>
				<canvas id="cohortReportChart"></canvas>
			</div>
			
			<div id="cohortReportCalendar" style="display:none">
			</div>		
			
		</div>
		
		<div data-role="footer" data-position="fixed" id="cohortReportFooter">
			<fieldset data-role="controlgroup" data-type="horizontal" data-role="fieldcontain">
				<label for="cohortReportDailyTab">Daily</label>
				<input id="cohortReportDailyTab" type="radio" value="Daily" name="timescaleTab" class="cohortReportTimeControl" />
				
				<label for="cohortReportWeeklyTab">Weekly</label>
				<input id="cohortReportWeeklyTab" type="radio" value="Weekly" name="timescaleTab" class="cohortReportTimeControl" />
				
				<label for="cohortReportMonthlyTab">Monthly</label>
				<input id="cohortReportMonthlyTab" type="radio" value="Monthly" name="timescaleTab" checked="true" class="cohortReportTimeControl" />
				
				<label for="cohortReportYearlyTab">Yearly</label>
				<input id="cohortReportYearlyTab" type="radio" value="Yearly" name="timescaleTab" class="cohortReportTimeControl" />
				
				<label for="cohortReportAllTimeTab">All Time</label>
				<input id="cohortReportAllTimeTab" type="radio" value="AllTime" name="timescaleTab" class="cohortReportTimeControl" />
			</fieldset>
		</div>
		
	</div>
		
	<script type="text/template" id="cohortReportOverviewTemplate">
	<ul data-role="listview" data-inset="true">
		<li><h1><%= TimescaleDisplay %></h1></li>
		<li><a class="cohortReportOverviewLI" name="AmountProcessed">				Total Processed : $<%= AmountProcessed.toFixed(2) %></a>
		</li>
		<li><a class="cohortReportOverviewLI" name="PaidCredit">
			Number Paid with Credit : <%= PaidCredit %></a>
		</li>
		<li><a class="cohortReportOverviewLI" name="PaidDebit">
			Number Paid with Debit : <%= PaidDebit %></a>
		</li>
		<li><a class="cohortReportOverviewLI" name="PaidDwolla">
			Number Paid with Dwolla : <%= PaidDwolla %></a>
		</li>

		<li><a class="cohortReportOverviewLI" name="RepeatCustomer">
			Number of Repeat Users : <%= RepeatCustomer %></a>
		</li>

		<li><a class="cohortReportOverviewLI" name="PaidErrors">
			Number of Customers who Encountered Errors : <%= PaidErrors %>
		</li>
	</ul>
	</script>
	
	<script type="text/template" id="cohortReportItemviewTemplate">
		<ul data-role="listview" data-inset="true">
			<% for(var i = 0; i < Data.length; i++){ %>
				<li><%= Labels[i] %> : <%= Data[i] %></li>
			<% } %>
		</ul>
	</script>

    <script type="text/template" id="ConfigureMerchantListTemplate">
      <li>
	<a merNum="" id="merchant_configSelect">
	  <h3><%= Name %></h3>
	  <p><%= Street %></p>
	  <p><%= City %></p>
	</a>
      </li>
    </script>
    
    <script type="text/template" id="ConfigureStepsTemplate">
     
	<div data-role="header" data-position="fixed" data-tap-toggle="false">
	  <h1>Configure: <%= EXELON.merchantBeingConfigured.Name  %></h1>
	  <a href="" data-icon="arrow-l" data-iconpos="notext" data-transition="slide" data-direction="reverse" id="ConfigureStepBack_Number"></a>
	  <a href="" data-icon="arrow-r" data-iconpos="notext" data-transition="slide" id="ConfigureStepForward_Number"></a>
	</div>
	
	<div data-role="content">
	  <h1><%= Number %>. <%= Title %><a href="#ConfigureCheckList" data-role="button" data-icon="check" data-iconpos="notext" style="padding:0px; position:absolute; top:70px; left:95%" data-transition="slideup"></a></h1>
	  <ul data-role="listview" id="ConfigureSubSteps_Step" data-inset="true">SUBSTEPS</ul>
	  <div data-role="collapsible" data-content-theme="d">
	    <h2>Instructions</h2>
	    <p><%= Instructions %></p>
	  </div>
	  <ul data-role="listview" data-inset="true">
	    <li data-role="list-divider"><h2>Screenshots</h2></li>
	    <% if(Screenshots.length  > 0) { %>
	    <% for(var imgIndex = 0; imgIndex < Screenshots.length; imgIndex++) { %>
	       <li>
		 <div data-role="fieldcontain">
		   <h3><%= Screenshots[imgIndex].Name %></h3>
		   <img src="<%= Screenshots[imgIndex].URL %>"/>
		 </div>
	       </li>
	       <% } %>
	    <% } else {%>
	    <li>N/A</li>
	    <% } %>
	  </ul>
	  <ul data-role="listview" data-inset="true" id="ConfigurationNotesList_Step">
	    <li data-role="list-divider" id="ConfigurationInsertNotes_Step" style="height:50px; padding-bottom:0px">
	      <h2>Notes</h2>
	      <a href="#ConfigureNewNoteOpen_Step" data-rel="popup" data-role="button" data-icon="plus" data-iconpos="notext" id="ConfigurationNotesAdd_Step" style="position:relative; bottom:30px; left:96%; padding:0px"></a>
	    </li>
	  </ul>
	</div>

        <div data-role="popup" id="ConfigureNewNote_Step">
	  <form>
            <div style="padding:10px 10px">
              <h3>New Configure Step Note</h3>
              <textarea id="ConfigureNewNoteContents_Step"></textarea>
              <a data-role="button" StepIndex="" data-icon="check" data-iconpos="notext" style="background-color:green" data-inline="true" id="ConfigureNewNoteSubmit_Step"></a>
              <a data-role="button" StepIndex="" data-icon="delete" data-iconpos="notext" style="background-color:red" data-inline="true" id="ConfigureNewNoteCancel_Step"></a>
            </div>
	  </form>
	</div>
      
    </script>

    <script type="text/template" id="ConfigureSubStepsTemplate">
      <li>
	<label><%=Description %><input type="checkbox" id="ConfigureCheck_Step_SubStep" /></label>
	<% if(Input !== "#NA") { %>
	<input type="text" id="ConfigureInput_Step_SubStep" placeholder="Default: "></input>
	<% } %>
      </li>
    </script>

    <script type="text/template" id="ConfigureInsertNoteTemplate">
      <li id="ConfigureNote_Step_Id" data-icon="false" style="padding-top:20px; padding-bottom:0px">
	<p><strong><%= "By: " + LastModifiedBy + "<br/>Time: " + LastUpdated.toString()%></strong></p>
	<p><%= Note %></p>
	<a data-role="button" data-icon="gear" data-iconpos="notext" style="position:relative; bottom:40px; left:95%; padding:0px" id="ConfigureEditNote_Step_Id"></a>
      </li>
    </script>

    <div data-role="page" id="ConfigureCheckList">
      <div data-role="header">
	<h1>Configure Check List</h1>
	<a data-role="button" data-rel="back" data-icon="back" data-iconpos="notext"></a>
      </div>

      <div data-role="content">
	<ul data-inset="true" id="ConfigureCheckListContents">
	</ul>
      </div>
    </div>
    
    <script type="text/template" id="ConfigureCheckListContentTemplate">
      <li>
	  <label><%= Description %><input type="checkbox" data-mini="true" id="ConfigureListCheck_Step_SubStep" /></label>
	  <% if(Input !== '#NA') { %>
	  <input type="text" id="ConfigureListInput_Step_SubStep" data-mini="true" placeholder="Default: "></input>
	  <% } else { %>
	  <div></div>
	  <% } %>
      </li>
    </script>

    <div data-role="page" id="configureTest">
      <div data-role="header" data-position="fixed" data-tap-toggle="false">
        <h1>Account Manager</h1>
        <a href="#configureTest_leftPanel" data-role="none" class="header-custom-bars">&nbsp;</a>
      </div>

      <div data-role="content">
        <div>This is the Configure Test page</div>
      </div>
    </div><!-- /page -->

    <div data-role="page" id="reports">
      <div data-role="header" data-position="fixed" data-tap-toggle="false">
        <h1>Account Manager</h1>
        <a href="#reports_leftPanel" data-role="none" class="header-custom-bars">&nbsp;</a>
      </div>

      <div data-role="content">
        <div>This is the Reports page</div>
      </div>
    </div><!-- /page -->

	<script type="text/template" id="meetingDetailsTemplate">
		<ul data-role="listview" data-inset="true">
			<li data-icon="delete"><a data-rel="close" href="#"></a></li>
			<li><h1>Meeting for <b><%= Merchant.Name %></b> in progress</h1>
			<h3>Concerning: <%= About %></h3>
		<h2>With:
		<% for(var i = 0; i < Members.length; i++) { %>
			<%= Members[i] %>, 
		<% } %> </h2> </li>

		<li><a class="meetingEnd">End</a></li>
		</ul>
		<div data-role="collapsible" data-inset="true">
		<h3>Notes</h3>
			<ul data-role="listview" data-inset="true">
			<li class="meetingAddNoteLI">
				<div data-role="fieldcontain">
					<textarea class="meetingAddNoteField" rows="10" cols="30"></textarea>
				</div>
				<button data-icon="check" data-iconpos="notext" class="meetingNoteSave" data-inline="true"></button>
				<button data-icon="gear" data-iconpos="notext" class="meetingNoteEdit" data-inline="true"></button>
			</li>
		</ul>
		<ul data-role="listview" class="meetingNotesList" data-inset="true">

			<% Notes.nextIndex = Notes.length; %>
			<% for(var i = Notes.length-1; i >= 0; i--) { %>
				<% if(Notes[i]){ %>
					<% var t = _.template($('#merchantDetailsNotesListTemplate').html()); %>
					<%= t({i : i, Note : Notes[i].Note, deleteMode : false}) %>
				<% } %>
			<% } %>
		</ul>

		</div><!-- collapsible -->

	</script>
	
	<script type="text/template" id="merchantDetailsNotesListTemplate"><li class="meetingDetailsNote" index="<%= i %>" deleteMode="<%=deleteMode%>" data-icon="delete"><a><%= Note %></a></li>
	</script>

    <script type="text/template" id="leftPanelTemplate">
      <div data-role="panel" id="page_leftPanel" data-theme="c" data-position-fixed="true">
         <ul data-role="listview" data-theme="b" data-divider-theme="b" style="margin-top:-16px;" class="nav-search">
            <li data-icon="delete" style="background-color:#111;">
              <a href="#" data-rel="close" class="userName">[USER NAME]</a>
            </li>
          </ul>
          <ul data-role="listview" data-theme="a" data-divider-theme="a" style="margin-top:15px;">
            <li data-icon="selectMerchant">
              <a class="selectMerchant">selectMerchant</a>
            </li>
            <li>
              <a class="configure">Configure</a>
            </li>
            <li>
              <a class="configureTest">Configure Test</a>
            </li>
          </ul>
          <ul data-role="listview" data-theme="b" data-divider-theme="b" style="margin-top:15px;">
            <div data-role="collapsible" data-theme="b" data-content-theme="b" data-collapsed-icon="gear" data-expanded-icon="gear" data-iconpos="right" data-inset="true" style="margin-bottom:0px;">
              <h2>Reports</h2>
              <ul data-role="listview">
                <li><a href="#">Cohort Report</a></li>
                <li><a href="#">Sales Report</a></li>
              </ul>
            </div><!-- /collapsible -->
            <li data-icon="alert">
              <a href="#" class="logOut">Log Out</a>
            </li>
          </ul>
      </div><!-- /panel -->
    </script>


</body>
</html>
